{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}



{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us - Neel Dairy</h2>
    <br>
    <p class="fs-4 text-center">
        Welcome to Neel Dairy, your trusted destination for premium dairy products crafted with purity, quality, and tradition. Our journey began with a simple mission: to bring you the freshest and most nutritious dairy products while preserving the authentic taste of tradition.
        At Neel Dairy, we are committed to sourcing the finest ingredients and maintaining the highest standards in dairy production. Whether it's our rich ghee, refreshing milkshakes, or wholesome butter, every product is made with pure milk and the utmost care to ensure nutrition, taste, and quality in every bite.  
        Our dairy products are manufactured using state-of-the-art processing technology while keeping the goodness of nature intact. We take pride in offering chemical-free, preservative-free, and ethically sourced dairy items that meet the needs of modern consumers. 
        We believe in customer satisfaction, purity, and innovation, and we continuously strive to enhance our product line to bring you the best dairy experience. Whether you're looking for a quick energy boost, a flavorful ingredient for cooking, or a delightful treat, Neel Dairy has something for everyone.
        Thank you for choosing Neel Dairy – where freshness meets tradition!</p>
</div>



{% endblock main-content %}