{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">Contact Us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">📍Address: Neel Dairy Pvt. Ltd.
            123, Dairy Farm Road,
            Mumbai, Maharashtra, India – 400001 </p>
        <p class="fs-4 text-center">📞 Contact: +91 98765 43210</p>
        <p class="fs-4 text-center">📧 Email: support@neeldairy.com</p>
        <p class="fs-4 text-center">🕒 Business Hours: Monday – Saturday: 9:00 AM – 7:00 PM
            Sunday: Closed</p>

    </div>
    


</div>
{% endblock main-content %}