{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">Contact Us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">📍Address:<br> Neel Dairy Pvt. Ltd.
            123,<br> Dairy Farm Road,<br>
            Mumbai, Maharashtra, India – 400001 </p>
        <p class="fs-4 text-center">📞 Contact: <br>+91 98765 43210<br></p>
        <p class="fs-4 text-center">📧 Email: <br>support@neeldairy.com<br></p>
        <p class="fs-4 text-center">🕒 Business Hours: <br>Monday – Saturday: 9:00 AM – 7:00 PM<br>
            Sunday: Closed</p>
            <p class="fs-4 text-center">🌐 Website: www.neeldairy.com</p>

    </div>
    


</div>
{% endblock main-content %}