{% extends 'app/base.html' %}
{% load static %}
{% block title %} ProductDetail {% endblock title %}


{% block main-content %}


<div class="container">
    <div class="row d-flex justify-content-between align-items-start">
        <!-- Image Section -->
        <div class="img2 col-lg-5 mt-5">
            <img src="{{ product.product_image.url }}" 
                 class="img-fluid w-100 h-75 mt-3" 
                 alt="{{ product.title }}">
        </div>
        <!-- Title Section -->
        <div class="productdetail col-lg-5 text-end">
            <h1 style="font-family: Georgia; font-size: 50px;">{{ product.title }}</h1>
            <h5>Rs.{{Product.discounted_price}}/-</h5>
            <small class="text-decoration-line-through text-muted fs-5"><del>Rs.{{Product.selling_price}}</small></del>
            <br><br><h4>Product Features</h4>
            <ul class="fs-5" style="font-family: Rajdhani;">
                <li>{{Product.description}}</li>
            </ul>

        </div>
    </div>
</div>

{% endblock main-content %}