{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}



{% block main-content %}

<link rel="stylesheet" href="{% static 'app/css/login.css' %}">

<div class="login-section">
    <div class="login-container">
        <div class="login-title">Login</div>
        <form action="" method="post" novalidate class="login-form">
            {% csrf_token %}
            {% for fm in form %}
                <div class="form-group mb-2">
                    {{fm.label_tag}}
                    {{fm}} <small class="text-danger">{{fm.errors | striptags}}</small>
                </div>
            {% endfor %}
            <a href="{% url 'password_reset' %}" class="forgot-link">Forgot Password?</a>
            <button type="submit" class="btn btn-success w-100">Login</button>
            <div class="text-center mt-2">
                <span class="text-primary">New User?</span>
                <a href="{% url 'customerregistration' %}" class="register-link">Create an Account</a>
            </div>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
            {% endif %}
        </form>
    </div>
</div>
{% endblock main-content %}